.Home {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
}

.Home__users-list {
    max-height: 70vh;
    overflow-y: auto;
    width: calc(100vw - 20px);
    max-width: 800px;
    align-self: center;
    margin-bottom: 20px;
}

@media screen and (max-height: 767px) {
    .Home__users-list {
        height: 55vh;
    }
}

.Home__user-item {
    background-color: var(--item-background);
    padding: 20px;
    max-height: 80px;
    display: flex;
    color: var(--color-primary);
    font-family: 'Source Code Pro', monospace;
    border: 1px solid var(--color-primary);
    border-radius: 2px;
    margin: 10px;
}

.Home__link:first-child .Home__user-item {
    margin-top: 0;
}

.Home__link:last-child .Home__user-item {
    margin-bottom: 0;
}

.creature-item__avatar {
    height: 80px;
}

.creature-item__avatar .avatar {
    height: 80px;
    border-radius: 2px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.creature-item__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin-left: 10px;
    height: 80px;
    font-size: 1.4rem;
    flex: 1;
}

.creature-item__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin-left: 10px;
    height: 80px;
    font-size: 1.4rem;
}

.creature-item__actions button {
    color: var(--font-color);
    background: var(--background-color);
    border: 1px solid var(--color-primary);
    border-radius: 2px;
    padding: 10px;
    width: 20vw;
    max-width: 80px;
    font-size: 0.9rem;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.creature-item__actions button:first-of-type {
    margin-bottom: 10px;
}

.Home__add-button {
    color: var(--font-color);
    background: var(--background-color);
    border: 1px solid var(--color-primary);
    border-radius: 2px;
    padding: 10px;
    width: 20vw;
    max-width: 20vw;
    font-size: 0.9rem;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: center;
}

.Home__button-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.random-joke {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}
