@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Code+Pro&display=swap');

.App {
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background-color);
}

button {
    font-family: 'Fjalla One', sans-serif;
}

.page--header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: var(--font-color);
    padding: 0 20px 0 20px;
}

.page--footer {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: var(--font-color);
    margin-bottom: 20px;
    font-size: 0.6rem;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    margin-left: 0;
}

a:active {
    text-decoration: none;
    color: var(--color-primary);
    margin-left: 0;
}

a:hover {
    text-decoration: none;
    color: var(--color-primary);
    margin-left: 0;
}

.monster-repos-accordion {
    margin-top: 10px;
}

.page--content {
    color: var(--font-color);
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    flex: 1;
}

.page--content h2 {
    text-align: center;
}

button:active {
    transform: translateY(4px);
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--background-color);
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--color-primary);
}
